<section class="main-container col1-layout">
  <div class="main container">
    <div class="page-content">
      <div class="account-login">
        <div class="box-authentication">
          <h4><%= t ".login" %></h4>
          <p class="before-login-text"><%= t ".signin_account" %></p>
          <%= form_for :session, url: login_path do |f| %>
            <%= f.label :email %><span class="required">*</span>
            <%= f.email_field :email, class: "form-control" %>
            <%= f.label :password %><span class="required">*</span>
            <%= f.password_field :password, class: "form-control" %>
            <label class="inline" for="rememberme">
              <input type="checkbox" value="forever" id="rememberme" name="rememberme"><%= t ".remember" %>
            </label>
            <%= f.submit t(".submit"), class: "button" %>
            <p class="forgot-pass">
              <a href="#"><%= t ".lost_password" %></a>
              <%= link_to t(".create_account"), signup_path %>
            </p>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</section>
