<header>
  <div class="header-container">
    <div class="header-top">
      <div class="container">
        <div class="row">
          <div class="col-lg-4 col-sm-4 col-md-5 hidden-xs">
            <div class="welcome-msg "><%= t ".wellcome_msg" %></div>
            <span class="phone hidden-sm"><%= t ".call_us" %></span>
          </div>
          <div class="headerlinkmenu col-lg-8 col-md-7 col-sm-8 col-xs-12">
            <div class="links">
              <% if logged_in? %>
                <div class="dropdown">
                  <div class="myaccount">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                      <i class="fa fa-user"></i>
                      <span class="hidden-xs"><%= t ".my_account" %></span><b class="caret"></b>
                    </a>
                    <ul class="dropdown-menu">
                      <li class="login">
                        <%= link_to "#" do %>
                          <i class="fa fa-history"></i>
                          <span class="hidden-xs" style="color: black;"><%= t ".history_order" %></span>
                        <% end  %>
                      </li>
                      <li class="login">
                        <%= link_to @current_user do %>
                          <i class="fa fa-cog"></i>
                          <span class="hidden-xs" style="color: black;"><%= t ".profile" %></span>
                        <% end  %>
                      </li>
                      <li class="divider"></li>
                      <li class="login">
                        <%= link_to logout_path, method: :delete do %>
                          <i class="fa fa-sign-out"></i><span class="hidden-xs" style="color: black;">
                          <%= t ".log_out" %></span>
                        <% end  %>
                      </li>
                    </ul>
                  </div>
                </div>
              <% else %>
                <div class="login">
                  <%= link_to login_path do %>
                    <i class="fa fa-sign-in"></i>
                    <span class="hidden-xs"><%= t ".sign_in" %></span>
                  <% end  %>
                  <%= link_to signup_path do %>
                      <i class="fa fa-user-plus"></i>
                      <span class="hidden-xs"><%= t ".sign_up" %></span>
                    <% end %>
                </div>
              <% end %>
              </div>
          </div>
        </div>
      </div>
    </div>
    <div class="container">
      <div class="row">
        <div class="col-sm-3 col-md-3 col-xs-12">
          <div class="logo">
            <%= link_to root_path, title: t(".logo") do %>
              <%= image_tag("logo.png", atl: t(".logo"))%>
            <% end %>
          </div>
        </div>
        <div class="col-xs-9 col-sm-6 col-md-7">

          <div class="top-search">
            <div id="search">
              <%= form_tag search_path, method: :get do %>
                <div class="input-group">
                  <%= text_field_tag :name, nil, class: "form-control", placeholder: t(".search_place_holder") %>
                  <%= button_tag type: "submit", class: "btn-search", name: nil do %>
                    <%= content_tag :i, "", class: "fa fa-search" %>
                  <% end %>
                </div>
              <% end %>
            </div>
          </div>

        </div>

        <div class="col-lg-2 col-xs-3 top-cart">
          <div class="top-cart-contain">
            <div class="mini-cart">
              <div data-toggle="dropdown" data-hover="dropdown" class="basket dropdown-toggle">
                <%= link_to "" do %>
                  <div class="cart-icon"><i class="fa fa-shopping-cart"></i></div>
                  <div class="shoppingcart-inner hidden-xs">
                    <span class="cart-title"><%= t ".cart" %></span>
                    <span class="cart-total"><%= t ".items", item: "0" %></span>
                  </div>
                <% end %>
              </div>
              <div>
                <div class="top-cart-content">
                  <div class="block-subtitle hidden-xs"><%= t ".recently_added_item" %></div>
                  <ul id="cart-sidebar" class="mini-products-list">
                    <p>No item</p>
                  </ul>
                  <div class="top-subtotal">
                    <%= t ".subtotal" %><span class="price"><%= t ".price", price: "0" %></span>
                  </div>
                  <div class="actions">
                    <button class="btn-checkout" type="button">
                      <i class="fa fa-check"></i><span><%= t ".checkout" %></span>
                    </button>
                    <button class="view-cart" type="button">
                      <i class="fa fa-shopping-cart"></i> <span><%= t ".view_cart" %></span>
                    </button>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</header>
